<div class="card" hoverAffect="border">
  <header>{{ content.title }}</header>
  <ng-container *ngIf="content.imgURL; else defaultImage">
    <img (click)="displayContentIdAndTitle()" [src]="content.imgURL" />
  </ng-container>
  <ng-template #defaultImage>
    <img
      src="https://cdn4.iconfinder.com/data/icons/picture-sharing-sites/32/No_Image-1024.png"
      alt="No image"
    />
  </ng-template>
  <p><b>Description:</b> {{ content.description }}</p>
  <p><b>Creator:</b> {{ content.creator }}</p>
  <p *ngIf="content.type" class="type">
    <b>Type: </b><span hoverAffect="underline"> {{ content.type }}</span>
  </p>
  <p *ngIf="content.tags">
    <b>Tags:</b>
    <span *ngFor="let tag of content.tags; let i = index" hoverAffect="bold">
      {{ tag }} {{ i < content.tags.length - 1 ? ", " : "" }}
    </span>
  </p>
</div>



<!-- Assignment 3

<div class="card">
  <header>{{ content.title }}</header>
  <img
    (click)="displayContentIdAndTitle()"
    [src]="content.imgURL"
    *ngIf="content.imgURL"
  />
  <p>{{ content.description }}</p>
  <p>Creator: {{ content.creator }}</p>
  <p *ngIf="content.type">Type: {{ content.type }}</p>
  <p *ngIf="content.tags">Tags: {{ content.tags.join(", ") }}</p>
</div>
 -->
